---
import SiteLayout from "./SiteLayout.astro";
import { getEntry, render } from "astro:content";

interface Props {
    pageID: string;
    showHeader?: boolean;
}

const { pageID, showHeader = true } = Astro.props;

const page = await getEntry("pages", pageID);

if (!page) {
    throw new Error(`Could not find page: ${pageID}`);
}
const { Content } = await render(page);
---

<SiteLayout title={page.data.title} description={page.data.description}>
    <div class="wrapper prose">
        {
            showHeader && (
                <header class="page-header">
                    <h1>{page.data.title}</h1>
                    <p>{page.data.description}</p>
                </header>
            )
        }

        <slot name="before-content" />

        <Content />

        <slot />
    </div>
</SiteLayout>

<style>
    .page-header {
        text-align: center;
        padding-block-end: var(--space-s);
        border-block-end: solid 1px var(--color-dark);
    }
</style>
